$primary: #2f1793;
$secondary: #24dac6;
.home {
  display: flex;
  padding: 10px;
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    max-height: 300px;
    flex: 0.5;
    .card__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .card__button {
        background-color: $secondary !important;
        color: white !important;
        margin-top: 10px !important;
      }
      .card__input {
        width: 90%;
      }
    }
    .card__button {
      text-transform: capitalize !important;
      padding: 5px 10px !important;
      margin: 5px !important;
      background: $primary !important;
      color: white !important;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
